# Test settup for Kaggle competition

Data fetched fom [Kaggle](https://www.kaggle.com/c/tdt05-2021-challenge-1/data)

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
data_train = pd.read_csv('data/challenge1_train.csv')

In [5]:
data_train.head()

,id,target,f0,f1,f2,f3,f4,f5,f6,f7,...,f19,f20,f21,f22,f23,f24,f25,f26,f27,f28
0,0,0,I,AU,134e98eb8,be42001f3,6.8928,B,0.0,R,...,3.0,be0264098,3.0,0.0,B,N,51.0,1d2ee04de,m,1.0
1,1,1,N,NaN,232792002,3aad93cab,6.8098,A,1.0,G,...,1.0,71fb03996,3.0,1.0,F,N,10.0,e06abf51f,k,1.0
2,2,0,P,JP,64e2a3589,90116a97d,6.7761,A,0.0,R,...,2.0,bf987f83f,3.0,0.0,C,S,16.0,5d1ac7760,c,0.0
3,3,0,K,IT,960cdb2ef,dc4ee566b,6.9302,A,0.0,R,...,3.0,d40fcead7,2.0,0.0,D,N,63.0,b0ab8b134,i,1.0
4,4,0,H,AU,8377590c9,f09cc205f,7.0238,A,1.0,G,...,6.0,NaN,2.0,1.0,A,S,26.0,0764632bc,h,1.0

In [6]:
data_train.describe()

,id,target,f4,f6,f8,f10,f16,f17,f19,f21,f22,f25,f28
count,50000.000000,50000.00000,48594.000000,48457.000000,48522.000000,48492.000000,48488.000000,48545.000000,48447.000000,48510.000000,48497.000000,48501.000000,48535.000000
mean,24999.500000,0.18728,6.988378,0.536847,4.112032,1.721665,6.362399,0.409113,4.120689,1.947784,0.628328,62.147378,0.537406
std,14433.901067,0.39014,0.152945,0.656913,1.851792,3.427500,3.455422,0.185697,2.034561,0.852700,0.483257,33.086578,0.498604
min,0.000000,0.00000,6.521800,0.000000,1.000000,0.000000,1.000000,0.100000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,12499.750000,0.00000,6.870225,0.000000,3.000000,0.000000,3.000000,0.200000,2.000000,1.000000,0.000000,32.000000,0.000000
50%,24999.500000,0.00000,6.987500,0.000000,5.000000,0.000000,6.000000,0.500000,5.000000,2.000000,1.000000,65.000000,1.000000
75%,37499.250000,0.00000,7.102300,1.000000,6.000000,1.000000,8.000000,0.600000,6.000000,3.000000,1.000000,94.000000,1.000000
max,49999.000000,1.00000,7.479400,2.000000,6.000000,11.000000,12.000000,0.600000,7.000000,3.000000,1.000000,104.000000,1.000000

In [20]:
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier
values = data_train.values
X = values[:,2:30]
Y = values[:,1]